html
	head
		title!= title

		link(
			rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
			integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u'
			crossorigin='anonymous'
		)

		link(
			rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'
			integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp'
			crossorigin='anonymous'
		)

		script(
			src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
			integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa'
			crossorigin='anonymous'
		)
	body
		if result
			div(class='panel panel-success') Address added succesfully!
		else
			div(class='panel panel-danger') Failed to add address.
			div!= error

		form(method='post' action='/add')
			label(for='name') Name
			input(id='name' name='name')

			label(for='lastname') Lastname
			input(id='lastname' name='lastname')

			label(for='street') Street
			input(id='street' name='street')

			label(for='number') Number
			input(id='number' name='number')

			input(type='submit' class='btn btn-primary' value='Create')
